

.botImg{
    border-radius: 40px;
}

.Card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.links a {
    margin: 0 10px; /* Adjust as needed */
}
