.ViewContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.ViewContainer h1 {
    margin-bottom: 20px;
}

.ViewContainer button {
    margin-top: 20px;
}
